@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;

    overflow-wrap: break-word;

}

*{
    font-family:'Roboto',sans-serif;
    text-align: left;
}

header {
    background-color: #0094ba;
    display: flex;
    box-shadow: 1px 1px 4px #000;
    

}

header div img {
    border-style: ridge;
    border-color: aliceblue;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 100px;
    width: 80px;
   

}


header nav {
    display: flex;
    margin: 30px 10px 30px 80px;

}

header nav a {
    color: #0094ba;
    text-decoration: none;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 1px 1px 5px #000;
    font-weight: bold;

}

main {
 
    margin-left: 10px;
    margin-right: 10px;   

}
main a{
    width: 50%;
    height: 40px;
    display: flex;
    margin: 20px auto;
     background-color: #0094ba;
     color: white;
     box-shadow: 1px 1px 5px #000;
     font-weight: bold;
     border-radius:15px ;
     align-items: center;
     text-align: center;
     justify-content: center;
     text-decoration: none;
 }

main a img{
    width: 28px;
    margin-right: 5px;
    
    
}
input{
    width: 100%;
    height: 20px;
    margin-bottom: 15px;
    border: 2px solid black;
    color: gray;

}

.progress {
    width: 300px;
    height: 20px;
  }

  .progress::-webkit-progress-bar {
    background-color: #eee;
  }

  .progress::-webkit-progress-value {
    background-color: #4caf50;
  }

  .progress::-moz-progress-bar {
    background-color: #4caf50;
  }

video{
    margin-top: 50px;
    margin-left: 15px;
    width:80%;
}

#enviar{
    width: 50%;
    height: 40px;
   display: flex;
   margin: 20px auto;
    background-color: #0094ba;
    color: white;
    box-shadow: 1px 1px 5px #000;
    font-weight: bold;
    border-radius:15px ;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

main h1 {
    text-align: center;
}


section p {
    margin-left: 10px;
    font-style: italic;
    font-size: small;
    font-size: 15px;
}


section a {
    width: 80%; 
    height: 40px;
    color: white;
    text-decoration: none;
    background-color: #0094ba;
    border-radius: 15px;
    text-align: center;
    box-shadow: 1px 1px 5px #000;
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
    line-height: 40px;
    vertical-align: middle; 
}


.cadastrar{
    display: flex;
    align-items: center;
}

.cadastrar a{
    margin-right: 80px;
}

footer{
    background-color: #0094ba;
    position: fixed;
    bottom: 0;
    box-shadow: -1px -1px 3px #000;
    width: 100%;
    padding: 5px;

}

footer p{
    margin-left: 10px;
    margin-right: 10px;
    font-size: small;
    color: white;
    line-height: 1.5;
    text-align: left;
}
#cefet {
    margin-left: 0px;
    text-align: center;
}

